<div class='big_box'>
<% (1..9).each do |x| %>
<div id = 'square'>
  <% case %>
  <% when @users_moves.include?(x) %>
      X
  <% when @comps_moves.include?(x) %>
      O
  <% else %>
    <%= link_to x, game_path(@game, player_move: x) %>
  <% end %>
</div>
<% end %>
</div>

<% @winning_line.all? do |line| %>
    <% case %>
    <% when @users_moves.include?(line) %>
      User wins
    <% when @comps_moves.include?(line) %>
      Comp wins
    <% else %>
      nothing
  <% end %>
<% end %>

<!-- if one of the numbers matches any of those in users/comps moves it changes, not when all match -->