<h1>Playing Game</h1>

<%= render 'table' %>


  <b>Past Moves</b>
  <% @moves.each do |move| %>
    <%= move.square_id %>
      <% if move.player_id %>
          X
      <% else %>
          O
      <% end %>
      <br>
  <% end %>

  <br>




<p><%= link_to 'New Game', new_game_path %></p>

<p><%= link_to 'Delete Game', @game, method: :delete  %></p>
