body {
font-family: 'Patrick Hand SC', cursive;
background-color: green;
color: white;
}

.big_box {
  width: 400px;
}

#square {
  border: 2px black solid;
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  background-color: black;
  border: white 1px solid;
  color: white;
  font-size: 60px;
}

li {
  display: inline-block;
}

a {
  text_decoration: none;
  color: black;
}